In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import datetime as dt

In [90]:
# read in all data

airlines = pd.read_csv('./airlines.csv')
airports = pd.read_csv('./airports.csv', encoding='ISO-8859-1')
events_US = pd.read_csv('./events_US.csv', encoding='ISO-8859-1')
fares = pd.read_csv('./fares.csv')
flight_traffic = pd.read_csv('./flight_traffic.csv')

In [15]:
# table of events with the city AND airports that are in it

airports_events_US = airports.merge(events_US, on=['city', 'state'])
airports_events_US['citystate'] = airports_events_US['city'] + '/' + airports_events_US['state']

In [85]:
# table of flight traffic, with cities for the origin and destination airports

airports_flight_traffic = airports.merge(flight_traffic, left_on='airport_id', right_on='origin_airport')
airports_flight_traffic.drop(labels=['airport_id', 'latitude', 'longitude'], axis=1, inplace=True)
airports_flight_traffic.rename(columns={
    'airport_name': 'origin_airport_name',
    'city': 'origin_city',
    'state': 'origin_state'
}, inplace=True)
airports_flight_traffic['origin_citystate'] = airports_flight_traffic['origin_city'] + '/' + airports_flight_traffic['origin_state']
airports_flight_traffic = airports.merge(airports_flight_traffic, left_on='airport_id', right_on='destination_airport')
airports_flight_traffic.drop(labels=['airport_id', 'latitude', 'longitude'], axis=1, inplace=True)
airports_flight_traffic.rename(columns={
    'airport_name': 'destination_airport_name',
    'city': 'destination_city',
    'state': 'destination_state'
}, inplace=True)
airports_flight_traffic['destination_citystate'] = airports_flight_traffic['destination_city'] + '/' + airports_flight_traffic['destination_state']

In [88]:
# lookup table: airport -> city
# not that useful since we have airports_flight_traffic

airport_city = {}
for _, row in airports.iterrows():
    airport_city[row['airport_id']] = row['city'] + '/' + row['state']

In [83]:
# boolean map; True if there is an event in that city and the day queried is within the 10 days preceding an event

citystates = pd.unique(airports_events_US['citystate'])

events_city_date_prev = {}
events_city_date_next = {}
for _, event in airports_events_US.iterrows():
    cs = event['citystate']
    if cs not in events_city_date_prev:
        events_city_date_prev[cs] = set()
    if cs not in events_city_date_next:
        events_city_date_next[cs] = set()
    date_str = event['date']
    dmy = date_str.split("/")
    d = int(mdy[0])
    m = int(mdy[1])
    y = int(mdy[2])
    event_date = dt.datetime(year=y, month=m, day=d)
    preceding_days = set()
    succeeding_days = set()
    for d in range(10):
        preceding_days.add(event_date - dt.timedelta(days=d))
        succeeding_days.add(event_date + dt.timedelta(days=d))
    events_city_date_prev[cs] = preceding_days
    events_city_date_next[cs] = succeeding_days

In [112]:
# PRODUCTION VERSION: USE THIS ONE
# map from city to [incoming_flights_in_prev10_days, outgoing_flights_in_next10_days]
ans = {}
counter = 0
for _, row in airports_flight_traffic.iterrows():
    origin_cs = row['origin_citystate']
    dest_cs = row['destination_citystate']
    if origin_cs not in ans:
        ans[origin_cs] = [0, 0]
    if dest_cs not in ans:
        ans[dest_cs] = [0, 0]
    y, m, d = (row['year'], row['month'], row['day'])
    flight_date = dt.datetime(year=y, month=m, day=d)
    
    # arbitratily use events_city_date_prev to check if theres an event
    if origin_cs in events_city_date_prev and flight_date in events_city_date_next[origin_cs]:
        # i am leaving the origin city in the 10 days after an event
        ans[origin_cs][1] += 1
    if dest_cs in events_city_date_prev and flight_date in events_city_date_prev[dest_cs]:
        # i am arriving in the dest city in the 10 days before an event
        ans[dest_cs][0] += 1
    counter += 1
    if counter % 20000 == 0:
        print(counter)
        
# FOR EACH CITY
# get list of dates of events in that city
# for each of those dates, get number of incoming flights in the 1.5 weeks leading up to that date
# for each of those dates, get number of outgoing flights in the 1.5 weeks after that date
# get the number of incoming flights per 1.5 weeks (average over the whole year)
# get the number of outgoing flights per 1.5 weeks (average over the whole year)
# compare (1-d plot): number of incoming flights preceding event VS over whole year

20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
260000
280000
300000
320000
340000
360000
380000
400000
420000
440000
460000
480000
500000
520000
540000
560000
580000
600000
620000
640000
660000
680000
700000
720000
740000
760000
780000
800000
820000
840000
860000
880000
900000
920000
940000
960000
980000
1000000
1020000
1040000
1060000
1080000
1100000
1120000
1140000
1160000
1180000
1200000
1220000
1240000
1260000
1280000
1300000
1320000
1340000
1360000
1380000
1400000
1420000
1440000
1460000
1480000
1500000
1520000
1540000
1560000
1580000
1600000
1620000
1640000
1660000
1680000
1700000
1720000
1740000
1760000
1780000
1800000
1820000
1840000
1860000
1880000
1900000
1920000
1940000
1960000
1980000
2000000
2020000
2040000
2060000
2080000
2100000
2120000
2140000
2160000
2180000
2200000
2220000
2240000
2260000
2280000
2300000
2320000
2340000
2360000
2380000
2400000
2420000
2440000
2460000
2480000
2500000
2520000
2540000
2560000
2580000
2600000
2620000
2640000
2660000
2680000
2700000
2720000
2740000
2760000
2780000
2800000
2820000
2840000
2860000
2880000
2900000
2920000
2940000
2960000
2980000
3000000
3020000
3040000
3060000
3080000
3100000
3120000
3140000
3160000
3180000
3200000
3220000
3240000
3260000
3280000
3300000
3320000
3340000
3360000
3380000
3400000
3420000
3440000
3460000
3480000
3500000
3520000
3540000
3560000
3580000
3600000
3620000
3640000
3660000
3680000
3700000
3720000
3740000
3760000
3780000
3800000
3820000
3840000
3860000
3880000
3900000
3920000
3940000
3960000
3980000
4000000
4020000
4040000
4060000
4080000
4100000
4120000
4140000
4160000
4180000
4200000
4220000
4240000
4260000
4280000
4300000
4320000
4340000
4360000
4380000
4400000
4420000
4440000
4460000
4480000
4500000
4520000
4540000
4560000
4580000
4600000
4620000
4640000
4660000
4680000
4700000
4720000
4740000
4760000
4780000
4800000
4820000
4840000
4860000
4880000
4900000
4920000
4940000
4960000
4980000
5000000
5020000
5040000
5060000
5080000
5100000
5120000
5140000
5160000
5180000
5200000
5220000
5240000
5260000
5280000
5300000
5320000
5340000
5360000
5380000
5400000
5420000
5440000
5460000
5480000
5500000
5520000
5540000
5560000
5580000
5600000
5620000
5640000
5660000

In [114]:
ans

{'Aberdeen/SD': [0, 0],
 'Abilene/TX': [0, 0],
 'Adak/AK': [0, 0],
 'Agana/GU': [0, 0],
 'Aguadilla/PR': [0, 0],
 'Akron/OH': [0, 0],
 'Albany/GA': [0, 0],
 'Albany/NY': [0, 0],
 'Albuquerque/NM': [0, 0],
 'Alexandria/LA': [0, 0],
 'Allentown/PA': [0, 0],
 'Alpena/MI': [0, 0],
 'Amarillo/TX': [0, 0],
 'Anchorage/AK': [0, 0],
 'Appleton/WI': [0, 0],
 'Arcata/Eureka/CA': [0, 0],
 'Arlington/VA': [0, 0],
 'Asheville/NC': [0, 0],
 'Aspen/CO': [166, 148],
 'Atlanta/GA': [10443, 10287],
 'Atlantic City/NJ': [100, 100],
 'Augusta/GA': [0, 0],
 'Austin/TX': [1514, 1513],
 'Bakersfield/CA': [0, 0],
 'Baltimore/MD': [2990, 2870],
 'Bangor/ME': [0, 0],
 'Barrow/AK': [0, 0],
 'Baton Rouge/LA': [0, 0],
 'Beaumont/Port Arthur/TX': [0, 0],
 'Bellingham/WA': [0, 0],
 'Bemidji/MN': [0, 0],
 'Bethel/AK': [0, 0],
 'Billings/MT': [0, 0],
 'Binghamton/NY': [0, 0],
 'Birmingham/AL': [0, 0],
 'Bismarck/ND': [0, 0],
 'Bloomington/IL': [0, 0],
 'Boise/ID': [466, 468],
 'Boston/MA': [3604, 3680],
 'Bozeman/MT': [0, 0],
 'Brainerd/MN': [0, 0],
 'Bristol/TN': [0, 0],
 'Brownsville/TX': [0, 0],
 'Brunswick/GA': [0, 0],
 'Buffalo/NY': [0, 0],
 'Burbank/CA': [0, 0],
 'Burlington/VT': [0, 0],
 'Butte/MT': [0, 0],
 'Casper/WY': [0, 0],
 'Cedar City/UT': [0, 0],
 'Cedar Rapids/IA': [0, 0],
 'Chantilly/VA': [0, 0],
 'Charleston/SC': [430, 392],
 'Charleston/WV': [0, 0],
 'Charlotte Amalie/VI': [0, 0],
 'Charlotte/NC': [0, 0],
 'Charlottesville/VA': [0, 0],
 'Chattanooga/TN': [0, 0],
 'Chicago/IL': [10939, 10943],
 'Christiansted/VI': [0, 0],
 'Cleveland/OH': [0, 0],
 'Cody/WY': [0, 0],
 'College Station/TX': [0, 0],
 'Colorado Springs/CO': [0, 0],
 'Columbia/MO': [0, 0],
 'Columbia/SC': [0, 0],
 'Columbus-Starkville-West Point/MS': [0, 0],
 'Columbus/GA': [0, 0],
 'Columbus/OH': [0, 0],
 'Cordova/AK': [0, 0],
 'Corpus Christi/TX': [0, 0],
 'Covington/KY': [0, 0],
 'Dallas-Fort Worth/TX': [0, 0],
 'Dallas/TX': [1900, 1925],
 'Dayton/OH': [0, 0],
 'Daytona Beach/FL': [58, 58],
 'Deadhorse/AK': [0, 0],
 'Denver/CO': [0, 0],
 'Des Moines/IA': [0, 0],
 'Detroit/MI': [3626, 3718],
 'Devils Lake/ND': [0, 0],
 'Dillingham/AK': [0, 0],
 'Dothan/AL': [0, 0],
 'Duluth/MN': [0, 0],
 'Durango/CO': [0, 0],
 'Eagle/CO': [0, 0],
 'Eau Claire/WI': [18, 19],
 'El Paso/TX': [0, 0],
 'Elko/NV': [0, 0],
 'Elmira/NY': [0, 0],
 'Erie/PA': [0, 0],
 'Escanaba/MI': [0, 0],
 'Eugene/OR': [0, 0],
 'Evansville/IN': [0, 0],
 'Fairbanks/AK': [0, 0],
 'Fargo/ND': [0, 0],
 'Fayetteville/NC': [0, 0],
 'Fayetteville/Springdale/Rogers/AR': [0, 0],
 'Flagstaff/AZ': [0, 0],
 'Flint/MI': [0, 0],
 'Fort Smith/AR': [0, 0],
 'Fort Wayne/IN': [0, 0],
 'Fresno/CA': [0, 0],
 'Ft. Lauderdale/FL': [0, 0],
 'Ft. Myers/FL': [0, 0],
 'Gainesville/FL': [0, 0],
 'Garden City/KS': [0, 0],
 'Gillette/WY': [0, 0],
 'Grand Forks/ND': [0, 0],
 'Grand Island/NE': [0, 0],
 'Grand Junction/CO': [0, 0],
 'Grand Rapids/MI': [324, 337],
 'Great Falls/MT': [0, 0],
 'Green Bay/WI': [0, 0],
 'Greensboro/NC': [0, 0],
 'Greer/SC': [0, 0],
 'Gulfport-Biloxi/MS': [0, 0],
 'Gunnison/CO': [0, 0],
 'Gustavus/AK': [0, 0],
 'Hailey/ID': [0, 0],
 'Hancock/MI': [0, 0],
 'Harlingen/TX': [0, 0],
 'Harrisburg/PA': [83, 88],
 'Hattiesburg-Laurel/MS': [0, 0],
 'Hayden/CO': [0, 0],
 'Hays/KS': [0, 0],
 'Helena/MT': [0, 0],
 'Hibbing/MN': [0, 0],
 'Hilo/HI': [0, 0],
 'Hobbs/NM': [0, 0],
 'Honolulu/HI': [0, 0],
 'Houston/TX': [5250, 5012],
 'Huntsville/AL': [0, 0],
 'Hyannis/MA': [0, 0],
 'Idaho Falls/ID': [0, 0],
 'Indianapolis/IN': [0, 0],
 'International Falls/MN': [0, 0],
 'Iron Mountain/Kingsford/MI': [0, 0],
 'Islip/NY': [0, 0],
 'Ithaca/NY': [0, 0],
 'Jackson/MS': [0, 0],
 'Jackson/WY': [0, 0],
 'Jacksonville/FL': [0, 0],
 'Jacksonville/NC': [0, 0],
 'Jamestown/ND': [0, 0],
 'Joplin/MO': [0, 0],
 'Juneau/AK': [0, 0],
 'Kahului/HI': [0, 0],
 'Kailua/Kona/HI': [0, 0],
 'Kalamazoo/MI': [0, 0],
 'Kalispell/MT': [0, 0],
 'Kansas City/MO': [1303, 1271],
 'Ketchikan/AK': [0, 0],
 'Key West/FL': [42, 41],
 'Killeen/TX': [0, 0],
 'King Salmon/AK': [0, 0],
 'Knoxville/TN': [0, 0],
 'Kodiak/AK': [0, 0],
 'Kotzebue/AK': [0, 0],
 'La Crosse/WI': [0, 0],
 'Lafayette/LA': [0, 0],
 'Lake Charles/LA': [0, 0],
 'Lansing/MI': [0, 0],
 'Laramie/WY': [0, 0],
 'Laredo/TX': [0, 0],
 'Las Vegas/NV': [4277, 4325],
 'Latrobe/PA': [0, 0],
 'Lawton/OK': [0, 0],
 'Lewiston/ID': [0, 0],
 'Lexington/KY': [0, 0],
 'Lihue/HI': [0, 0],
 'Lincoln/NE': [0, 0],
 'Little Rock/AR': [0, 0],
 'Long Beach/CA': [0, 0],
 'Longview/TX': [0, 0],
 'Los Angeles/CA': [6264, 6304],
 'Louisville/KY': [296, 284],
 'Lubbock/TX': [0, 0],
 'Madison/WI': [0, 0],
 'Mammoth Lakes/CA': [0, 0],
 'Manchester/NH': [0, 0],
 'Manhattan/KS': [0, 0],
 'Marquette/MI': [0, 0],
 'Marthas Vineyard/MA': [0, 0],
 'McAllen/TX': [0, 0],
 'Medford/OR': [0, 0],
 'Melbourne/FL': [0, 0],
 'Memphis/TN': [417, 416],
 'Meridian/MS': [0, 0],
 'Miami/FL': [1886, 1822],
 'Midland/TX': [147, 148],
 'Milwaukee/WI': [866, 883],
 'Minneapolis/MN': [0, 0],
 'Minot/ND': [0, 0],
 'Missoula/MT': [104, 106],
 'Mobile/AL': [0, 0],
 'Moline/IL': [0, 0],
 'Monroe/LA': [0, 0],
 'Monterey/CA': [0, 0],
 'Montgomery/AL': [0, 0],
 'Montrose/CO': [0, 0],
 'Mosinee/WI': [0, 0],
 'Muskegon/MI': [0, 0],
 'Myrtle Beach/SC': [0, 0],
 'Nantucket/MA': [0, 0],
 'Nashville/TN': [1591, 1565],
 'New Bern/NC': [0, 0],
 'New Orleans/LA': [1262, 1246],
 'New York/NY': [5311, 5441],
 'Newark/NJ': [0, 0],
 'Newburgh/NY': [0, 0],
 'Newport News/VA': [0, 0],
 'Niagara Falls/NY': [0, 0],
 'Nome/AK': [0, 0],
 'Norfolk/VA': [0, 0],
 'North Bend/OR': [0, 0],
 'Oakland/CA': [1446, 1472],
 'Oklahoma City/OK': [0, 0],
 'Omaha/NE': [0, 0],
 'Ontario/CA': [0, 0],
 'Orlando/FL': [3826, 3457],
 'Paducah/KY': [0, 0],
 'Pago Pago/AS': [0, 0],
 'Palm Springs/CA': [0, 0],
 'Panama City/FL': [0, 0],
 'Pasco/WA': [0, 0],
 'Pellston/MI': [0, 0],
 'Pensacola/FL': [0, 0],
 'Peoria/IL': [0, 0],
 'Petersburg/AK': [0, 0],
 'Philadelphia/PA': [2099, 2080],
 'Phoenix/AZ': [4283, 4163],
 'Pittsburgh/PA': [0, 0],
 'Plattsburgh/NY': [0, 0],
 'Pocatello/ID': [0, 0],
 'Ponce/PR': [0, 0],
 'Portland/ME': [0, 0],
 'Portland/OR': [1962, 1890],
 'Providence/RI': [0, 0],
 'Pueblo/CO': [0, 0],
 'Raleigh/NC': [1047, 1058],
 'Rapid City/SD': [0, 0],
 'Redding/CA': [0, 0],
 'Redmond/OR': [0, 0],
 'Reno/NV': [0, 0],
 'Rhinelander/WI': [0, 0],
 'Richmond/VA': [0, 0],
 'Roanoke/VA': [0, 0],
 'Rochester/MN': [0, 0],
 'Rochester/NY': [244, 251],
 'Rock Springs/WY': [0, 0],
 'Roswell/NM': [0, 0],
 'Sacramento/CA': [0, 0],
 'Saginaw/MI': [0, 0],
 'Salt Lake City/UT': [0, 0],
 'San Angelo/TX': [0, 0],
 'San Antonio/TX': [946, 887],
 'San Diego/CA': [2592, 2550],
 'San Francisco/CA': [5181, 5445],
 'San Jose/CA': [1418, 1450],
 'San Juan/PR': [0, 0],
 'San Luis Obispo/CA': [0, 0],
 'Santa Ana/CA': [0, 0],
 'Santa Barbara/CA': [0, 0],
 'Santa Fe/NM': [0, 0],
 'Sarasota/FL': [0, 0],
 'Sault Ste. Marie/MI': [0, 0],
 'Savannah/GA': [0, 0],
 'Seattle/WA': [4404, 4381],
 'Shreveport/LA': [0, 0],
 'Sioux City/IA': [0, 0],
 'Sioux Falls/SD': [0, 0],
 'Sitka/AK': [0, 0],
 'South Bend/IN': [0, 0],
 'Spokane/WA': [382, 365],
 'Springfield/IL': [0, 0],
 'Springfield/MO': [0, 0],
 'St George/UT': [0, 0],
 'St Louis/MO': [0, 0],
 'St. Augustine/FL': [0, 0],
 'State College/PA': [0, 0],
 'Syracuse/NY': [0, 0],
 'Tallahassee/FL': [0, 0],
 'Tampa/FL': [1915, 1739],
 'Texarkana/AR': [0, 0],
 'Toledo/OH': [0, 0],
 'Traverse City/MI': [0, 0],
 'Trenton/NJ': [0, 0],
 'Tucson/AZ': [0, 0],
 'Tulsa/OK': [0, 0],
 'Twin Falls/ID': [0, 0],
 'Tyler/TX': [0, 0],
 'Valdosta/GA': [0, 0],
 'Valparaiso/FL': [0, 0],
 'Waco/TX': [0, 0],
 'Waterloo/IA': [0, 0],
 'West Palm Beach/FL': [0, 0],
 'West Yellowstone/MT': [0, 0],
 'White Plains/NY': [0, 0],
 'Wichita Falls/TX': [0, 0],
 'Wichita/KS': [0, 0],
 'Wilkes-Barre/Scranton/PA': [0, 0],
 'Williston/ND': [0, 0],
 'Wilmington/NC': [0, 0],
 'Windsor Locks/CT': [0, 0],
 'Worcester/MA': [0, 0],
 'Wrangell/AK': [0, 0],
 'Yakutat/AK': [0, 0],
 'Yuma/AZ': [0, 0]}

In [127]:
# ans in pandas dataframe format

flight_traffic = pd.DataFrame.from_dict(ans).T.reset_index()
flight_traffic.rename({'index': 'city', 0: 'before', 1: 'after'}, axis=1, inplace=True)
flight_traffic.to_csv('ACTUAL_FULL_FLIGHTS_EVENTS_TRAFFIC.csv', index=False)

flight_active = flight_traffic[(flight_traffic['before'] > 0) | (flight_traffic['after'] > 0)].copy()
flight_active.to_csv('ACTUAL_FLIGHTS_VALID.csv', index=False)

                 city  before  after
18           Aspen/CO     166    148
19         Atlanta/GA   10443  10287
20   Atlantic City/NJ     100    100
22          Austin/TX    1514   1513
24       Baltimore/MD    2990   2870
37           Boise/ID     466    468
38          Boston/MA    3604   3680
52      Charleston/SC     430    392
58         Chicago/IL   10939  10943
73          Dallas/TX    1900   1925
75   Daytona Beach/FL      58     58
79         Detroit/MI    3626   3718
86      Eau Claire/WI      18     19
111   Grand Rapids/MI     324    337
122     Harrisburg/PA      83     88
131        Houston/TX    5250   5012
151    Kansas City/MO    1303   1271
153       Key West/FL      42     41
165      Las Vegas/NV    4277   4325
175    Los Angeles/CA    6264   6304
176     Louisville/KY     296    284
187        Memphis/TN     417    416
189          Miami/FL    1886   1822
190        Midland/TX     147    148
191      Milwaukee/WI     866    883
194       Missoula/MT     104    106
205      Nashville/TN    1591   1565
207    New Orleans/LA    1262   1246
208       New York/NY    5311   5441
216        Oakland/CA    1446   1472
220        Orlando/FL    3826   3457
230   Philadelphia/PA    2099   2080
231        Phoenix/AZ    4283   4163
237       Portland/OR    1962   1890
240        Raleigh/NC    1047   1058
249      Rochester/NY     244    251
256    San Antonio/TX     946    887
257      San Diego/CA    2592   2550
258  San Francisco/CA    5181   5445
259       San Jose/CA    1418   1450
268        Seattle/WA    4404   4381
274        Spokane/WA     382    365
283          Tampa/FL    1915   1739

In [119]:
# for each city in normalized_ans_counts, calculate average number of flights in 10 days
# total_flights / 365 * 10
# avg_num_flights_10 = map: city -> [avg_num_incoming_flights, avg_num_outgoing_flights] per 10 days

# only perform this operation for the cities that have events in them (i.e. the ones we care about)

# VERY POORLY NAMED: THIS IS THE TOTAL NUM FLIGHTS OVER 365 DAYS
avg_num_flights_10 = {}
for cs, _ in normalized_ans_counts.items():
    avg_num_flights_10[cs] = [0, 0]
    
counter = 0
for _, row in airports_flight_traffic.iterrows():
    origin_cs = row['origin_citystate']
    dest_cs = row['destination_citystate']
    if origin_cs in avg_num_flights_10:
        avg_num_flights_10[origin_cs][1] += 1
    if dest_cs in avg_num_flights_10:
        avg_num_flights_10[dest_cs][0] += 1
    
    counter += 1
    if counter % 20000 == 0:
        print(counter)

20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
260000
280000
300000
320000
340000
360000
380000
400000
420000
440000
460000
480000
500000
520000
540000
560000
580000
600000
620000
640000
660000
680000
700000
720000
740000
760000
780000
800000
820000
840000
860000
880000
900000
920000
940000
960000
980000
1000000
1020000
1040000
1060000
1080000
1100000
1120000
1140000
1160000
1180000
1200000
1220000
1240000
1260000
1280000
1300000
1320000
1340000
1360000
1380000
1400000
1420000
1440000
1460000
1480000
1500000
1520000
1540000
1560000
1580000
1600000
1620000
1640000
1660000
1680000
1700000
1720000
1740000
1760000
1780000
1800000
1820000
1840000
1860000
1880000
1900000
1920000
1940000
1960000
1980000
2000000
2020000
2040000
2060000
2080000
2100000
2120000
2140000
2160000
2180000
2200000
2220000
2240000
2260000
2280000
2300000
2320000
2340000
2360000
2380000
2400000
2420000
2440000
2460000
2480000
2500000
2520000
2540000
2560000
2580000
2600000
2620000
2640000
2660000
2680000
2700000
2720000
2740000
2760000
2780000
2800000
2820000
2840000
2860000
2880000
2900000
2920000
2940000
2960000
2980000
3000000
3020000
3040000
3060000
3080000
3100000
3120000
3140000
3160000
3180000
3200000
3220000
3240000
3260000
3280000
3300000
3320000
3340000
3360000
3380000
3400000
3420000
3440000
3460000
3480000
3500000
3520000
3540000
3560000
3580000
3600000
3620000
3640000
3660000
3680000
3700000
3720000
3740000
3760000
3780000
3800000
3820000
3840000
3860000
3880000
3900000
3920000
3940000
3960000
3980000
4000000
4020000
4040000
4060000
4080000
4100000
4120000
4140000
4160000
4180000
4200000
4220000
4240000
4260000
4280000
4300000
4320000
4340000
4360000
4380000
4400000
4420000
4440000
4460000
4480000
4500000
4520000
4540000
4560000
4580000
4600000
4620000
4640000
4660000
4680000
4700000
4720000
4740000
4760000
4780000
4800000
4820000
4840000
4860000
4880000
4900000
4920000
4940000
4960000
4980000
5000000
5020000
5040000
5060000
5080000
5100000
5120000
5140000
5160000
5180000
5200000
5220000
5240000
5260000
5280000
5300000
5320000
5340000
5360000
5380000
5400000
5420000
5440000
5460000
5480000
5500000
5520000
5540000
5560000
5580000
5600000
5620000
5640000
5660000

In [122]:
# THIS IS THE RESULT THAT SHOULD HAVE BEEN CALCULATED IN THE PREVIOUS CELL

actual_avg_num_flights_10 = {}
for cs, arr in avg_num_flights_10.items():
    actual_avg_num_flights_10[cs] = [arr[0] / 365 * 10, arr[1] / 365 * 10]
actual_avg_num_flights_10

{'Aspen/CO': [143.4794520547945, 143.5068493150685],
 'Atlanta/GA': [9988.931506849314, 9990.547945205479],
 'Atlantic City/NJ': [96.13698630136986, 96.1917808219178],
 'Austin/TX': [1428.1643835616437, 1427.890410958904],
 'Baltimore/MD': [2767.6438356164385, 2767.5342465753424],
 'Boise/ID': [435.5342465753424, 435.5068493150685],
 'Boston/MA': [3437.041095890411, 3437.150684931507],
 'Charleston/SC': [378.3013698630137, 378.24657534246575],
 'Chicago/IL': [9682.0, 9684.356164383562],
 'Dallas/TX': [1905.205479452055, 1905.0958904109589],
 'Daytona Beach/FL': [55.013698630136986, 55.013698630136986],
 'Detroit/MI': [3471.205479452055, 3468.7397260273974],
 'Eau Claire/WI': [18.52054794520548, 18.52054794520548],
 'Grand Rapids/MI': [298.8493150684932, 298.93150684931504],
 'Harrisburg/PA': [85.01369863013699, 85.01369863013699],
 'Houston/TX': [5031.698630136986, 5032.657534246575],
 'Kansas City/MO': [1234.876712328767, 1234.6575342465753],
 'Key West/FL': [43.397260273972606, 43.36986301369863],
 'Las Vegas/NV': [4156.958904109589, 4156.712328767124],
 'Los Angeles/CA': [5871.534246575343, 5871.123287671233],
 'Louisville/KY': [272.7671232876712, 272.7671232876712],
 'Memphis/TN': [400.6849315068493, 400.57534246575347],
 'Miami/FL': [1862.0547945205478, 1861.86301369863],
 'Midland/TX': [146.3013698630137, 146.3013698630137],
 'Milwaukee/WI': [826.4109589041095, 826.3561643835617],
 'Missoula/MT': [66.71232876712328, 66.68493150684932],
 'Nashville/TN': [1507.7534246575342, 1507.6438356164383],
 'New Orleans/LA': [1284.3013698630136, 1284.2739726027398],
 'New York/NY': [5143.9178082191775, 5144.657534246576],
 'Oakland/CA': [1381.205479452055, 1382.2191780821918],
 'Orlando/FL': [3616.3835616438355, 3616.3835616438355],
 'Philadelphia/PA': [2004.2191780821918, 2004.0],
 'Phoenix/AZ': [4210.493150684932, 4210.739726027397],
 'Portland/OR': [1716.6849315068494, 1716.876712328767],
 'Raleigh/NC': [984.6575342465753, 984.5753424657535],
 'Rochester/NY': [208.35616438356166, 208.35616438356166],
 'San Antonio/TX': [904.2465753424658, 903.8904109589041],
 'San Diego/CA': [2302.5753424657532, 2302.904109589041],
 'San Francisco/CA': [4768.739726027397, 4767.534246575343],
 'San Jose/CA': [1345.8904109589043, 1346.054794520548],
 'Seattle/WA': [3757.8356164383563, 3758.246575342466],
 'Spokane/WA': [319.9178082191781, 319.94520547945206],
 'Tampa/FL': [1922.2739726027396, 1921.917808219178]}

In [130]:
# average number of flights in 10 days for each [city we care about] to a pandas dataframe
# [city we care about] = cities with events in them

avg_yearly_traffic = pd.DataFrame.from_dict(actual_avg_num_flights_10).T.reset_index()
avg_yearly_traffic.rename({'index': 'city', 0: 'incoming', 1: 'outgoing'}, axis=1, inplace=True)
avg_yearly_traffic.to_csv('AVG_YEARLY_TRAFFIC_PER_10_DAYS.csv', index=False)

In [133]:
# averge the incoming and outgoing flights

avg_in_out_yearly_10_days = (avg_yearly_traffic['incoming'] + avg_yearly_traffic['outgoing']) / 2
avg_in_out_event_days = (flight_active['before'] + flight_active['after']) / 2

In [137]:
flight_traffic.shape

(309, 3)

In [44]:
# this is unrelated to the rest of the notebook
# made this for a teammmate
# puts city names for the origin and destination airports in the "fares" table

airports_fares = airports.merge(fares, left_on='airport_id', right_on='origin_airport')
airports_fares.drop(labels=['airport_id', 'latitude', 'longitude'], axis=1, inplace=True)
airports_fares.rename(columns={
    'airport_name': 'origin_airport_name',
    'city': 'origin_city',
    'state': 'origin_state',
}, inplace=True)
airports_fares['origin_citystate'] = airports_fares['origin_city'] + '/' + airports_fares['origin_state']
airports_fares = airports.merge(airports_fares, left_on='airport_id', right_on='destination_airport')
airports_fares.drop(labels=['airport_id', 'latitude', 'longitude'], axis=1, inplace=True)
airports_fares.rename(columns={
    'airport_name': 'destination_airport_name',
    'city': 'destination_city',
    'state': 'destination_state'
}, inplace=True)
airports_fares['destination_citystate'] = airports_fares['destination_city'] + '/' + airports_fares['destination_state']
airports_fares.to_csv("origin_airports_fares.csv")